<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisense AutoML</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
    <div class="app">
        <div class="header">
            <img src="/images/Sisense_logo_new.webp" class="sisense-img" alt="Sisense logo">
            <form class="login">
                <label for="url">Sisense URL:</label>
                <input type="text" id="url" name="url" placeholder="Enter your Sisense URL" required>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
        
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
        
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <script type="module" src="/js/login.js"></script>
</body>
</html>
