body {
    margin: 0; 
    width: 100vw; 
    height: 100vh; 
    background-image: url('/images/ai.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.sisense-img {
    width: 350px; 
    height: 90px;  
    object-fit: contain; 
    margin-top: -30px;
}



.app {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: column;
    width: 1000%;
    justify-content: center; 
    align-self: flex-start;
    align-items: center;
    padding: 20px;
}

.login {
    display: inline-block;
    justify-content: center; 
    align-self: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    margin-top: 100px;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid white;
}

.login label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login button:hover {
    background-color: #45a049;
}

.header img {
    margin-right: 10px;
    height: 150px;
    
}



